@media (width > 768px){
    .container {
        margin-top: -70px;
    }
    header {
        margin-top: 90px;
    }
    .headerh2 {
        padding-left: 240px;
    }
    .Input-Text {
        font-size: 18px;
        text-align:bottom 0px;padding-left:65px;
    }
    .Search-But {
        width: 106px;
        height: 50px;
        margin-left: 430px;
        margin-top: -68px;
    }
    .ButtonIn-Style {
        font-size: 16px;
    }
    input[type=text]{
        width: 573px;
        height: 69px;
    }
    .Inside-DivContainer {
        width: 573px;
        height: 481px;
    }
    .GitIcon {
        background-image: url(/assets/GitCat-Tab&Desk.svg);
        width: 117px;
        height: 117px;
        margin-top: 40px;
        margin-left: 20px;
    }
    .Giti {
        width: 0px;
    }
    .Name {
        width: 380px;
        font-size: 26px;
        margin-left: -;
        margin-top: -50px;
    }
    .Addres {
        width: 270px;
        font-size: 16px;
        margin-left: -;
        margin-top: -120px;
    }
    .Joint {
        width: 250px;
        font-size: 15px;
        margin-left: -125px;
    }
    .Bio {
        width: 493px;
        font-size: 15px;
        margin-left: 20px;
    }
    .Box-2 {
        width: 493px;
        height: 85px;
        margin-left: 40px;
    }
    .Box-2-1 {
        font-size: 13px;
    }
    .Box-2-2 {
        font-size: 22px;
    }
    .Box-2-3 {
        font-size: 13px;
    }
    .Box-2-4 {
        font-size: 22px;
    }
    .Box-2-5 {
        font-size: 13px;
    }
    .Box-2-6 {
        font-size: 22px;
    }
    .Box-3 {
        display: grid;
        place-items: center;
        grid-template-areas:'check san twit avil'
                            'chain link build git';
                            margin-left: 35px;
    }
    .let1 {
        width: 300px;
        margin-left: -10px;
        font-size: 15px;
    }
    .let2 {
        width: 300px;
        padding-left: 70px;
        font-size: 15px;
    }
    .let3 {
        width: 300px;
        font-size: 15px;
        padding-left: 140px;
    }
    .let4 {
        width: 300px;
        font-size: 15px;
        padding-left: 140px;
    }
}
@media (width > 1440px) {
    .container {
        margin-top: -70px;
    }
    input[type=text]{
        width: 730px;
        height: 69px;
    }
    .Search-But {
        margin-left: 580px;
        margin-top: -68px;
    }
    .Inside-DivContainer {
        width:730px;
        height: 444px;
    }
    .Box-1 {
        display: grid;
        place-items: center;
        grid-template-areas:'one two four'
                            'one three four'
                            'one five five';                
    }
    .Joint {
        padding-left: 35px;
        margin-top: -43px;
    }
    .Bio {
        margin-top: -30px;
        margin-left: -35px;
    }
    .Box-2 {
        width: 480px;
        height: 85px;
        margin-left: 180px;
    }
    .Box-3 {
        margin-left: 170px;
        margin-top: 50px;
    }
    .headerh2 {
        padding-left: 420px;
    }
    .let3 {
        padding-left: 115px;
    }
    .let4 {
        padding-left: 115px;
    }
    #icon3 {
        margin-left: -55px;
    }
    #icon4 {
        margin-left: -55px;
    }
}