@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --darkPageBackground-color:#141D2F;
    --darkPageDarkBlue-color:#1E2A47;
    --darkPageWhite-color:#FFF;
}
body {
    font-family: 'Space Mono', monospace;
    background: var(--darkPageBackground-color);
    display: grid;
    place-items: center;
}
header {
    display: grid;
    place-items: center;
    grid-template-areas: 'erti ori sami';
    padding-top: 31px;
}
.headerh1 {
    grid-area: erti;
    color:var(--darkPageWhite-color);
    font-family: Space Mono;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.headerh2 {
    margin-left: 100px;
    grid-area: ori;
    color:var(--darkPageWhite-color);
    text-align: right;
    font-family: Space Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
} 
.sun-icon {
    grid-area: sami;
    cursor: pointer;
    border: none;
    outline: none;
}
.Search-bar {
    display: grid;
    place-items: center;
    margin-top: 35px;
}
input[type=text]{
    width: 327px;
    height: 60px;
    border-radius: 15px;
    background:var(--darkPageDarkBlue-color);
    border: none;
    outline: none;
    background-image: url(/assets/Search-Loop.svg);
    background-repeat: no-repeat;
    background-position: 4% 52% ;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}
.Input-Text {
    color: var(--darkPageWhite-color);
    font-family: Space Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    text-align:bottom 0px;padding-left:45px;
}
::placeholder {
    color:var(--darkPageWhite-color);
}
.Search-But {
    margin-top: -60px;
    margin-left: 220px;
    width: 84px;
    height: 46px;
    border-radius: 10px;
    background: #0079FF;
    border: none;
    outline: none;
    cursor: pointer;
}
.ButtonIn-Style {
    color: #fff;
    font-family: Space Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Inside-DivContainer {
    width: 327px;
    height: 517px;
    border-radius: 15px;
    background: var(--darkPageDarkBlue-color);
    margin-top: 16px;
}
.Box-1 {
    display: grid;
    place-items: center;
    grid-template-areas:'one two'
                        'one three'
                        'one four'
                        'five five';
}
.Giti {
    grid-area: one;
    padding-top: 32px;
    margin-left: 20px;
}
.Name {
    width: 210px;
    margin-top: -30px;
    grid-area: two;
    color: var(--darkPageWhite-color);
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Addres {
    width: 100px;
    margin-top: -85px;
    margin-left: -105px;
    grid-area: three;
    color: #0079FF;
    font-family: Space Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Joint {
    width: 150px;
    margin-top: -30px;
    margin-left: -57px;
    grid-area: four;
    color:var(--darkPageWhite-color);
    font-family: Space Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Bio {
    margin-top: 20px;
    margin-left: 24px;
    grid-area: five;
    width: 279px;
    color:var(--darkPageWhite-color);
    font-family: Space Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.Box-2 {
    margin-top: 23px;
    margin-left: 24px;
    width: 279px;
    height: 85px;
    border-radius: 10px;
    background:var(--darkPageBackground-color);
    display: grid;
    place-items: center;
    grid-template-areas:'pirveli mesame mexute'
                        'meore meotxe meeqvse';
}
.Box-2-1 {
    margin-top: 10px;
    grid-area: pirveli;
    width: 79px;
    color: var(--darkPageWhite-color);
    text-align: center;
    font-family: Space Mono;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Box-2-2 {
    margin-top: -12px;
    grid-area: meore;
    width: 79px;
    color: var(--darkPageWhite-color);
    text-align: center;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.Box-2-3 {
    margin-top: 10px;
    grid-area: mesame;
    width: 79px;
    color: var(--darkPageWhite-color);
    text-align: center;
    font-family: Space Mono;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Box-2-4 {
    margin-top: -12px;
    grid-area: meotxe;
    width: 79px;
    color: var(--darkPageWhite-color);
    text-align: center;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.Box-2-5 {
    margin-top: 10px;
    grid-area: mexute;
    width: 79px;
    color: var(--darkPageWhite-color);
    text-align: center;
    font-family: Space Mono;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Box-2-6 {
    margin-top: -12px;
    grid-area: meeqvse;
    width: 79px;
    color: var(--darkPageWhite-color);
    text-align: center;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.Box-3 {
    display: grid;
    place-items: center;
    grid-template-areas:'check san'
                        'chain link'
                        'twit avil'
                        'build git';
    row-gap: 17px;
    margin-top: 30px;
    margin-left: -50px;
}
#icon1 {
    grid-area: check;
    cursor: pointer;
    color:var(--darkPageWhite-color);
    width: 20px;
    height: 20px;
}
.let1 {
    cursor: pointer;
    margin-left: -150px;
    grid-area: san;
    color: var(--darkPageWhite-color);
    font-family: Space Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 200px;
}
#icon2 {
    cursor: pointer;
    grid-area: chain;
    color:var(--darkPageWhite-color);
    width: 20px;
    height: 20px;
}
.let2 {
    width: 200px;
    margin-left: -145px;
    cursor: pointer;
    grid-area: link;
    color: var(--darkPageWhite-color);
    font-family: Space Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}
#icon3 {
    cursor: pointer;
    grid-area: twit;
    color:var(--darkPageWhite-color);
    width: 20px;
    height: 20px;
}
.let3 {
    width: 200px;
    cursor: pointer;
    margin-left: -150px;
    grid-area: avil;
    color: var(--darkPageWhite-color);
    font-family: Space Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#icon4 {
    cursor: pointer;
    grid-area: build;
    margin-left: 2px;
    color: var(--darkPageWhite-color);
    width: 20px;
    height: 20px;
}
.let4 {
    width: 200px;
    cursor: pointer;
    margin-left: -150px;
    grid-area: git;
    color: var(--darkPageWhite-color);
    font-family: Space Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Light-mode {
    --darkPageBackground-color: #F6F8FF;
    --darkPageDarkBlue-color:#FEFEFE;
    --darkPageWhite-color:#4B6A9B;
    transition: 1.5s;
}

